{% extends "layout-dashboard.html" %}

{% block title %} Categories {% endblock %}

{% block content %}
<h3>Categories</h3>
<table class="table table-hover my-4 general-lists category-list">
    <thead class="bg-primary text-white">
        <tr>
            <th scope="col" class="fit">Name</th>           
            <th scope="col" class="fit">Actions</th>           
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr class="table-secondary">
            <td class="fit">{{category.name}}</td>            
            <td class="fit actions">                
                <a class="fas fa-pencil-alt bg-warning edit" href = '/admin/categories/edit-category/{{category._id}}'></a>
                <a class="fas fa-times bg-danger delete" data-id = {{category._id}}></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="general-list-paging">
    <a class="btn btn-info" href = '/admin/categories/add-category'>Add New Category</a>
    <ul class="pagination float-right">
        {% if numberOfPages > 1%}
        <li class="page-item {{ ' ' if (currentPage > 1) else ' disabled' }}">
            <a class="page-link" href="/admin/categories?page={{currentPage-1}}">&laquo;</a>
        </li>

        {% for item in range(0, numberOfPages) %}
        <li class="page-item {{ ' active' if (item + 1) == currentPage else ' ' }}">
            <a class='page-link' href="/admin/categories?page={{item+1}}" id = "paginator">{{item + 1}}</a>
        </li>
        {% endfor %}

        <li class="page-item {{ ' ' if (currentPage < numberOfPages) else ' disabled' }}">
            <a class="page-link" href="/admin/categories?page={{currentPage+1}}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock%}