{% extends "layout-dashboard.html" %}

{% block title %} Category List {% endblock %}

{% block content %}
<h3>Category List</h3>
<table class="table table-hover my-4 general-lists">
    <thead class="bg-primary text-white">
        <tr>
            <th scope="col" class="fit">Name</th>           
            <th scope="col" class="fit">Actions</th>           
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr class="table-secondary">
            <td class="fit">{{category.name}}</td>            
            <td class="fit actions">
                <i class="fas fa-plus bg-info add"></i>
                <i class="fas fa-pencil-alt bg-warning edit"></i>
                <i class="fas fa-times bg-danger delete"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}