{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">Login</h3>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control mr-sm-2 w-100" type="email" id="email" name="email">
                    <div class='email error-input'></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control mr-sm-2 w-100" type="password" id="password" name="password">
                    <div class='password error-input'></div>
                </div>
                <div class="login-wrapper d-flex justify-content-between align-items-center">
                    <a href="/forgot-password" class="btn btn-link text-primary ">Forgot Password</a>
                    <button class="btn btn-primary float-right mt-1" type="button" id='btn-login'>LOG IN</button>
                </div>                
            </form>
        </div>
    </div>
</div>

{% endblock %}