{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 p-4 border">
        <div class="col-12 text-center">
            <div class="search-wrapper">
                <form class="form-inline my-2 my-lg-0" action='/' method="get">
                    <input class="form-control mr-sm-2 w-100" type="text" placeholder="Search For Movies"
                        name="title">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="my-5 row row-eq-height movie-list">
        {% if movies|length > 0 %}
        {% for item in movies%}
        <div class="movie-box col-sm-12 col-md-6 col-lg-3">
            <div class="card text-white bg-primary mb-3 h-100">
                <div class="card-header">{{item.category}}</div>
                <div class="image-wrapper">
                    <img src='/uploads/{{item.picture}}' alt="{{item.title}}" class="movie-image">
                    <div class="rating-wrapper">                       
                        <div class="rating">                            
                            {{item.totalRating}} 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/movies/{{item.titleSlug}}" class="movie-link">
                        <h5 class="card-title text-center">
                            {{item.title}}
                        </h5>
                    </a>                    
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="user-notice">
            <h3>Oh Oh! There are no movies...</h4>            
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <div class="main-paging">
                <ul class="pagination">
                    {% if numberOfPages > 1%}
                    <li class="page-item {{ ' ' if (currentPage > 1)  else ' disabled' }}">
                        <a class="page-link" href="/?page={{currentPage-1}}">&laquo;</a>
                    </li>

                    {% for item in range(0, numberOfPages) %}
                    <li class="page-item {{ ' active' if (item + 1) == currentPage else ' ' }}">
                        <a class='page-link' href="/?page={{item+1}}">{{item + 1}}</a>
                    </li>
                    {% endfor %}

                    <li class="page-item {{ ' ' if (currentPage < numberOfPages) else ' disabled' }}">
                        <a class="page-link" href="/?page={{currentPage+1}}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}