{% extends "layout.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">Sign Up</h3>
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control mr-sm-2 w-100" type="text" id="firstName" name="firstName">
                    <div class='firstName error-input'></div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control mr-sm-2 w-100" type="text" id="lastName" name="lastName">
                    <div class='lastName error-input'></div>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input class="form-control mr-sm-2 w-100" type="date" id="dob" name="dob">
                    <div class='dob error-input'></div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control mr-sm-2 w-100" type="email" id="email" name="email">
                    <div class='email error-input'></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control mr-sm-2 w-100" type="password" id="password" name="password">
                    <div class='password error-input'></div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input class="form-control mr-sm-2 w-100" type="password" id="confirmPassword"
                        name="confirmPassword">
                        <div class='confirmPassword error-input'></div>
                </div>
                <button class="btn btn-primary mt-4 float-right" type="button" id='btn-signup'>SIGN UP</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}