
html, body {
    scroll-behavior: smooth !important;     
  }  



a{
    text-decoration: none !important;
}

.fill-height{
    min-height: 100% !important;
    height: 100vh !important;
     
}

.table td.fit, 
.table th.fit {
    white-space: nowrap !important;
    width: 1% !important;
    padding: 1rem .7rem !important; 
    text-align: center;  
    word-break: break-all; 
}

.table{
    width: 60% !important;
}

#main-content .error-input {
    color     : #FF0D18;
    font-size : .7rem;
    margin-top: .8rem;
}

#main-content .totop {
    display: block;
}

#main-content .totop a {
    display: none;
}

.search-wrapper {
    margin    : auto;
    text-align: center;
}

.search-wrapper form {
    display              : grid;
    grid-template-columns: 5fr 1fr;
}

.search-wrapper form input {
    display: block !important;
    width  : 100% !important;
}

#main-content {
    margin-top   : 3rem;
    margin-bottom: 3rem;
}

#main-content form input,
#main-content form textarea,
#main-content form select {
    background-color: #F2F2F4 !important;
}

#main-content .movie-list {
    padding: 0 !important;

}

#main-content .movie-list .movie-box {
    margin-bottom: 4rem;
}


#main-content .movie-list .movie-box,
#main-content .movie-list .movie-box .card {
    border: 0 !important;
}



#main-content .movie-list .movie-box .card {
    padding: 0 !important;
}

#main-content .movie-list .movie-box .card .card-body {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 1rem 0 0 0 !important;
}

#main-content .movie-list .movie-image {
    width     : 100%;
    object-fit: cover;
    height    : 300px;
}

#main-content .movie-list .image-wrapper {
    width   : 100% !important;
    display : block;
    position: relative;
}

#main-content .rating-wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    font-weight    : 800;
    position       : absolute;
    top            : 20px;
    right          : 20px;


}

#main-content .rating-wrapper .rating {   
    background : rgba(37, 37, 37, 0.8);
    color      : #FCF11D;
    font-weight: bolder !important;
    overflow: auto;        
    display: inline-block;
    max-width: 190px;
    width: 45px !important;
    height: 45px !important;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

#main-content .movie-list .movie-link {
    text-decoration: none !important;
    color          : #fff !important;
    transition     : .3s all ease-in-out;
}

#main-content .movie-list .movie-link:hover {
    color: #9F9F9F !important;
}


/* Movie Details */

#main-content .movie-details-wrapper {
    margin-bottom: 4rem;
}




#main-content .movie-details-wrapper .image-wrapper img {
    width       : 100%;
    object-fit  : fill;
    height      : 600px;
    /* only if you want fixed height */
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

#main-content .movie-details-wrapper .movie-details-label:last-child {
    margin-bottom: 1rem;
}

#main-content .movie-details-wrapper .category-text {
    color      : #444444 !important;
    font-weight: bold !important;
}

#main-content .movie-details-wrapper .other-info {
    margin-bottom: 1rem;
}

#main-content .movie-details {
    position: relative;
}

#main-content .movie-details .link-to-home {
    position       : absolute;
    bottom         : 80px;
    right          : 50px;
    font-size      : .8rem;
    font-weight    : 900;
    text-decoration: none;
    color          : #666666;
}

#main-content .movie-details .link-to-home:hover {
    opacity: .7;
}

#main-content .movie-details .movie-ratings-wrapper {
    display    : flex;
    align-items: center;

}


#main-content .movie-details .movie-ratings-wrapper i.rated {
    color: #E2BC0A;
}

#main-content .movie-details .movie-ratings-wrapper i {
    transition: .4s ease-in-out all;
}

#main-content .movie-details .movie-ratings-wrapper i:hover {
    cursor : pointer;
    opacity: .7;
}


#main-content .movie-details .movie-ratings-wrapper .ratings-divider {
    margin-right: .5rem;
    margin-left : .5rem;
    font-size   : 1.6rem;
}

#main-content .movie-details .movie-ratings-wrapper .movie-ratings-rating,
#main-content .movie-details .movie-ratings-wrapper .movie-ratings-rating-total {
    padding-top: 5px;
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif !important;
    font-size  : 1.6rem;
}

#main-content .movie-details .movie-ratings-wrapper i {
    font-size: 30px;
}

#main-content .movie-details .movie-ratings-wrapper i::before {
    content: "☆";
}

#main-content .movie-details .movie-ratings-wrapper i.active::before {
    content: "★";
    color  : #E2BC0A;
}

#main-content .movie-details .movie-ratings-wrapper i:hover {
    cursor: pointer;
}

/* Paging */

#main-content .main-paging {
    display        : flex;
    text-align     : center;
    margin         : auto;
    justify-content: center;
}

#main-content .user-notice {
    margin-left    : auto;
    margin-right   : auto;
    text-align     : center;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 60vh;
}


/* Show Comments */

#main-content .comments-wrapper {
    margin-top: 5rem !important;
}

#main-content .comments-wrapper .comments-title {
    float     : left !important;
    text-align: left !important;
}

#main-content .comments {
    margin-top: 3rem !important;
}

#main-content .comments .card {
    margin-bottom: 1.5rem !important;
}

#main-content .comments .card .card-title {
    font-weight: 1 !important;

}

#main-content .comments .card .card-text {
    margin-top: 1rem;

}

#main-content .comments .card .card-title-wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

#main-content .comments .card .card-title-wrapper .comment-rating i.rated {
    color: #FCF11D;
}



#main-content .comments .card .card-title-wrapper .comment-rating span {
    font-size: .8rem !important;
}

#main-content .comments .card .comment-name {
    font-weight: 800 !important;
}


/* Dashboard */

#dashboard-content .general-lists .actions i{
    padding: .3rem;
    background-color: #444444;
    color: #fff;
    margin-right: .2rem;
    transition: .3s ease-in-out all;
    box-sizing: border-box;
}


#dashboard-content .general-lists .actions i:hover{
    cursor: pointer;
    opacity: .7;
}

 




@media(max-width: 768px) {
    #main-content .movie-list .movie-image {
        height: 600px;
        /* only if you want fixed height */
    }

    #main-content .movie-details .movie-title {
        margin-top: 2rem;
    }

    #main-content .movie-details .link-to-home {
        bottom       : -140px;
        margin-bottom: 2rem;
    }

    #main-content .movie-details {
        margin-bottom: 7rem;
    }


}

